{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "forms": "./src/forms/",
          "components": "./src/components/",
          "config": "./src/config",
          "assets": "./src/assets",
          "api":  "./src/api",
          "styles": "./src/styles",
          "pages": "./src/pages/",
          "utils": "./src/utils/"
        }
      }
    ]
  ]
}
